.exams {
  display: flex;    
  align-items:center;
  background-color: #0e1125;
  color: rgb(116, 183, 206);
  height: 50px;
  padding: 15px 15px;
}

.exam-items {
  list-style: none;
  display: flex; 
}

.exam-items > li {
  font-size: large;
  padding: 10px;
  justify-content: space-between;
  outline: auto;
}

.answers {
  margin-left: 25px;
}

.nav {
  display: flex;    
  align-items:center;
  background-color: #0e1125;
  color: rgb(116, 183, 206);
  height: 50px;
  padding: 15px 15px;
}

.nav > h3 {
  margin-right: auto;
  font-weight: 800;
  color:rgb(116, 183, 206)
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding: 10px;
  justify-content: space-between;
}

.nav-logo {
  width: 55px;
  margin-right: 14px;
}

body {
  background-color: #1b283c;
  color:rgb(230, 241, 251);
}

.main-title {
  font-size: 28px;
  margin-top: 60px;
}

.sub-title {
  font-size: 20px;
  margin-top: 50px;
}

footer {
  margin: 15px;
}

.main-help {
  margin-top: 0px;
  margin-bottom: 75px;
}

.main-help > li {
  line-height: 22px;
  padding: 2px;
}

main {
  margin: 30px;
}

.questions {
  color: white;
  background-color: gray;
  padding: 16px;
  width: 80%;
  height: auto;
  margin: 0 auto;   
}
