:root {
  --primary:  #75daf1;
  --secondary:  #f6c36c;
  --dark: #091315;
  --light: #eee;
} 

.exams {
  display: flex;    
  align-items:center;  
  height: 50px;
  padding: 15px 15px;
}

.exam-items {
  list-style: none;
  display: flex; 
}

.exam-items > li {
  font-size: large;
  margin: 8px;
  padding: 10px;
  outline-color: gray;
  outline-style: auto;
  color: #eee;
  font-size: large;
  font-weight: 700;  
}

.answers {
  margin-left: 25px;
}

.nav {
  display: flex;    
  align-items: center;
  background-color:  var(--dark);
  color: var(--primary);
  height: 50px;
  padding: 15px 15px;
}

.nav > h3 {
  margin-right: auto;
  margin-left: 5px;
  font-weight: 800;
}

.nav-items {
  list-style: none;
  display: flex;
  font-size: large;
  font-weight: 600;
}

.nav-items > li {
  padding: 12px;
  justify-content: space-between;
}

/* .nav-items:hover {
  transform: scale(1.2);
} */

.nav-logo {
  width: 55px;
  margin-right: 14px;
}

body {
  color: var(--primary);
  background-image: url("BackgroundImage1.jpg"), url("BackgroundImage2.jpg");
  background-size: cover;
}

.main-title {
  font-size: 28px;
  margin-top: 60px;
}

.sub-title {
  font-size: 20px;
  margin-top: 50px;
}

footer {
  margin: 15px;
}

.main-help {
  margin-top: 0px;
  margin-bottom: 75px;
}

.main-help > li {
  line-height: 22px;
  padding: 2px;
}

main {
  margin: 30px;
}

/* .questions {
  color: rgb(15, 205, 22);
  padding: 16px;
  width: 80%;
  height: auto;
  margin: 0 auto;   
} */

input[type=text] {
  width: 750px;
  height: 24px;
  font-size: medium;
  border-radius: 2px;
  background-color: var(--light);
}